<!DOCTYPE html>
<html>
  <head>
    <title>Craftsociety</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#195fe6">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <% if !notice.nil? %>
      <div class="padding-xs color-white background-info"><%= notice %></div>
    <% end %>
      <% if !alert.nil? %>
      <div class="padding-xs color-white background-error"><%= alert %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
